---
import Icon from "astro-icon";
import { Image } from "astro:assets";

import heroImage from "@assets/images/me.webp";
---

<section
  id="about"
  class="bg-background grid min-h-[calc(100vh-64px)] items-center py-[8rem]"
>
  <div
    class="mx-auto max-w-7xl px-6 lg:grid lg:grid-cols-2 lg:items-center lg:gap-8 lg:px-8"
  >
    <div>
      <h1
        class="text-foreground text-4xl font-semibold tracking-tight sm:text-5xl"
      >
        Développeur Full-Stack React & Node.js
      </h1>
      <p class="text-muted-foreground mt-6 text-xl/8 text-pretty">
        Développeur Full-Stack depuis 2020, spécialisé React/Node.js Je
        transforme les idées en applications web performantes et intuitives.
        Passionné par le code propre et l'expérience utilisateur, j'accompagne
        les équipes dans leurs projets de digitalisation.
      </p>
      <div class="mt-10 flex items-center gap-x-4">
        <a
          href="mailto:thomas_3004@hotmail.fr"
          aria-label="Envoyer un email à Thomas ROBERT pour travailler ensemble"
          class="bg-primary hover:bg-primary/90 focus-visible:border-ring focus-visible:ring-ring/50 rounded-md px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs outline-none focus-visible:ring-[3px]"
        >
          Travailler avec moi
        </a>
        <a
          href="#projects"
          aria-label="Naviguer vers la section de mes projets"
          class="text-secondary-foreground focus-visible:border-ring focus-visible:ring-ring/50 inline-flex items-center gap-x-1 text-sm/6 font-semibold outline-none focus-visible:ring-[3px]"
        >
          Voir mes projets
          <span aria-hidden="true">
            <Icon pack="ri" name="arrow-right-line" class="h-4 w-4" />
          </span>
        </a>
      </div>
    </div>
    <Image
      class="mt-10 block w-full max-w-md rounded-lg object-cover sm:mt-16 lg:mt-0 lg:justify-self-end"
      src={heroImage}
      alt="Photo de Thomas."
      width={400}
    />
  </div>
</section>
