---
import Icon from "astro-icon";
import { Image } from "astro:assets";
import heroImage from "../assets/images/thomas.jpg";
---

<section id="about" class="grid min-h-[calc(100vh-76px)] place-items-center">
  <div class="container mx-auto grid items-center px-5 py-20 lg:grid-cols-2">
    <div>
      <h1
        class="title-font mb-6 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl"
      >
        Salut, je suis Thomas !
      </h1>
      <p class="mb-10 text-lg leading-8 text-gray-600 dark:text-gray-400">
        Développeur web depuis 2020, je crée des applications claires, efficaces
        et orientées UX. Autonome, pédagogue et curieux, j'aime avancer vite et
        bien avec les équipes. Je cherche une opportunité en développement front
        ou fullstack.
      </p>
      <div class="flex items-center gap-x-4">
        <a
          href="mailto:thomas_3004@hotmail.fr"
          class="inline-flex items-center rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-indigo-500 dark:bg-indigo-500 dark:hover:bg-indigo-400"
        >
          Travailler avec moi
        </a>
        <a
          href="#projects"
          class="inline-flex items-center gap-x-1 text-sm font-semibold text-gray-900 dark:text-white"
        >
          Voir mes projets
          <span aria-hidden="true">
            <Icon pack="ri" name="arrow-right-line" class="h-6 w-6" />
          </span>
        </a>
      </div>
    </div>
    <Image
      class="hidden aspect-[2/3] w-full max-w-xs rounded-2xl object-cover lg:block lg:justify-self-center"
      src={heroImage}
      alt="Photo de Thomas."
      width={400}
    />
  </div>
</section>
