---
import Icon from "astro-icon";
import { Image } from "astro:assets";
import heroImage from "../assets/images/thomas.jpg";
---

<section id="about" class="grid min-h-[calc(100vh-76px)] place-items-center">
  <div class="container mx-auto grid items-center px-5 py-20 lg:grid-cols-2">
    <div>
      <h1
        class="title-font mb-6 text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl"
      >
        Salut, moi c'est Thomas !
      </h1>
      <p class="mb-10 text-lg leading-8 text-gray-600 dark:text-gray-400">
        Développeur web depuis 2020, je conçois des applications modernes,
        efficaces et bien pensées, avec une vraie attention à l'expérience
        utilisateur. Start-up ambitieuse ou entreprise confirmée : je m'adapte,
        je comprends vite, et j'avance avec vous. En dehors du code, je
        m'entraîne régulièrement à la salle de sport et je nourris ma curiosité
        en continu. Toujours partant pour relever un défi, apprendre, ou
        simplement échanger autour d'un projet. Actuellement à la recherche
        d'une alternance à temps plein en développement web à partir du 22
        septembre 2025 (jusqu'au 23 octobre 2026). Envie de travailler avec un
        dev autonome, pédago, et avec qui il fait bon collaborer ? Écrivez-moi,
        je suis ouvert aux opportunités.
      </p>
      <div class="flex items-center gap-x-4">
        <a
          href="mailto:thomas_3004@hotmail.fr"
          class="inline-flex items-center rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white hover:bg-indigo-500 dark:bg-indigo-500 dark:hover:bg-indigo-400"
        >
          Travailler avec moi
        </a>
        <a
          href="#projects"
          class="inline-flex items-center gap-x-1 text-sm font-semibold text-gray-900 dark:text-white"
        >
          Voir mes projets
          <span aria-hidden="true">
            <Icon pack="ri" name="arrow-right-line" class="h-6 w-6" />
          </span>
        </a>
      </div>
    </div>
    <Image
      class="hidden aspect-[2/3] w-full max-w-xs rounded-2xl object-cover lg:block lg:justify-self-center"
      src={heroImage}
      alt="Photo de Thomas."
      width={400}
    />
  </div>
</section>
