---
const currentYear = new Date().getFullYear();
---

<footer class="bg-white p-8 dark:bg-gray-900">
  <p class="text-center text-xs text-gray-500 dark:text-gray-400">
    &copy; {currentYear} Thomas ROBERT. Tous droits réservés.
  </p>
</footer>
