---
const currentYear = new Date().getFullYear();
---

<footer class="bg-secondary px-6 py-12 lg:px-8">
  <p class="text-secondary-foreground text-center text-sm/6">
    &copy; {currentYear} Thomas ROBERT. Tous droits réservés.
  </p>
</footer>
