---
import { Icon } from "astro-icon";

import NavLink from "./NavLink.astro";
import SocialLink from "./SocialLink.astro";

const navlinks = [
  { href: "#projects", text: "Mes projets" },
  { href: "#skills", text: "Mes compétences" },
];

const socialLinks = [
  {
    url: "https://github.com/Fixito",
    icon: { pack: "ri", name: "github-fill" },
    title: "GitHub",
  },
  {
    url: "https://github.com/Fixito",
    icon: { pack: "ri", name: "linkedin-box-fill" },
    title: "Linkedin",
  },
];
---

<header
  class="top-0 z-20 bg-white text-gray-500 shadow md:sticky md:shadow-md dark:bg-gray-800 dark:text-gray-300"
>
  <div
    class="container mx-auto flex flex-col flex-wrap items-center p-5 md:flex-row"
  >
    <!-- BRAND -->
    <div class="mb-4 font-medium text-gray-900 md:mb-0 dark:text-white">
      <a href="#about" class="text-xl">Thomas ROBERT</a>
    </div>

    <!-- NAV -->
    <nav
      class="flex flex-wrap items-center justify-center gap-4 md:mr-auto md:ml-4 md:border-l md:border-gray-700 md:pl-4 dark:md:border-white"
    >
      {navlinks.map((navlink) => <NavLink {...navlink} />)}
      <a
        href="/cv-thomas-robert.pdf"
        class="p-1.5 leading-5 font-medium hover:text-gray-700 dark:text-gray-300 dark:hover:text-white"
        title="Télécharger un CV"
        download>CV</a
      >
    </nav>

    <!-- SOCIAL LINKS -->
    <div class="inline-flex items-center">
      {socialLinks.map((socialLink) => <SocialLink {...socialLink} />)}
    </div>

    <!-- CONTACT -->
    <a
      href="mailto:thomas_3004@hotmail.fr"
      class="inline-flex items-center gap-1 rounded-md p-1 px-3 py-2 leading-5 font-medium text-gray-900 hover:bg-gray-50 dark:text-gray-300 dark:hover:bg-gray-900 dark:hover:text-white"
    >
      Me contacter
      <Icon pack="ri" name="arrow-right-line" class="h-5 w-5" />
    </a>
  </div>
</header>

<script is:inline>
  const navLinks = document.querySelectorAll("[data-nav-link]");
  const header = document.querySelector("header");

  navLinks.forEach((navLink) => {
    navLink.addEventListener("click", (e) => {
      e.preventDefault();
      const target = e.currentTarget.getAttribute("href");
      const location = document.querySelector(target)?.offsetTop ?? 0;
      const headerHeight = header.getBoundingClientRect().height;
      let top = 0;

      if (headerHeight > 88) {
        top = location;
      } else {
        top = location - headerHeight;
      }

      window.scrollTo({
        left: 0,
        top,
      });
    });
  });
</script>
