---
import { Icon } from "astro-icon";

import jobifyImage from "@assets/screenshots/mern-jobify.png";
import comfyStoreImage from "@assets/screenshots/react-comfy-store.png";
import restcountriesApiImage from "@assets/screenshots/rest-countries-api.png";

import ProjectCard from "./ProjectCard.astro";

const projects = [
  {
    title: "Jobify",
    subtitle: "React, MongoDB, Express, Node.js",
    description:
      "Une application MERN permettant de gérer des offres d'emploi avec authentification et tableau de bord.",
    image: jobifyImage,
    link: "https://github.com/Fixito/mern-jobify",
  },
  {
    title: "Comfy Store",
    subtitle: "React, Tailwind, Redux Toolkit, React Query",
    description:
      "Une boutique en ligne React avec gestion des produits, panier et authentification.",
    image: comfyStoreImage,
    link: "https://github.com/Fixito/react-comfy-store",
  },
  {
    title: "Rest Countries API",
    subtitle: "React, Typescript, Tailwind, Shadcn, React Query",
    description:
      "Une application React affichant des informations sur les pays via l'API REST Countries, avec recherche et filtrage.",
    image: restcountriesApiImage,
    link: "https://github.com/Fixito/rest-countries-api",
  },
];
---

<section id="projects" class="bg-white dark:bg-gray-800">
  <div class="container mx-auto px-5 py-10 text-center">
    <div class="mb-12 flex w-full flex-col">
      <Icon
        pack="ri"
        name="code-s-slash-fill"
        class="mx-auto mb-4 inline-block h-10 text-indigo-600 dark:text-indigo-500"
      />
      <h1
        class="mb-4 text-3xl font-medium text-gray-900 sm:text-4xl dark:text-white"
      >
        Mes projets
      </h1>
      <p
        class="mx-auto text-base leading-relaxed text-gray-600 dark:text-gray-400"
      >
        Voici une sélection de mes projets qui m'ont permis de développer mes
        compétences :
      </p>
    </div>
    <div class="grid gap-6 sm:grid-cols-2">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>
  </div>
</section>
