---
import Icon from "astro-icon";

interface Props {
  url: string;
  icon: { pack: string; name: string };
  title: string;
}

const {
  url,
  icon: { pack, name },
  title,
} = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class="rounded-md p-3 font-medium text-gray-900 hover:bg-gray-50 dark:text-gray-300 dark:hover:bg-gray-900 dark:hover:text-white"
>
  <i aria-hidden="true">
    <Icon pack={pack} name={name} class="h-6 w-6" />
  </i>
  <span class="sr-only">{title}</span>
</a>
