---
import '../styles/global.css';

import Head from '@components/Head.astro';

interface Props {
  title: string;
  description: string;
  url?: string;
  ogImage?: string;
}
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <Head {...Astro.props} />
  <body>
    <slot />
  </body>
</html>
