---
import '../styles/global.css';

import Head from '@components/Head.astro';

interface Props {
  title: string;
  description: string;
  url?: string;
  ogImage?: string;
}
---

<!doctype html>
<html lang="fr" class="scroll-smooth">
  <Head {...Astro.props} />
  <body>
    <slot />
    <script is:inline>
      document.documentElement.classList.toggle(
        'dark',
        localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches),
      );
    </script>
  </body>
</html>
